@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  position: relative;
}

.background-container {
  background-image: url("background.webp");
  background-size: cover;
  background-position: center;
  height: 130vh;
}

.profile-container {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.2), 0 0 60px rgba(255, 255, 255, 0.1);
  outline: 2px solid rgba(255, 255, 255, 0.3);
  max-width: 800px;
  margin: auto;
}

.container {
    margin: 45px;
}

.profile {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #e20074;
}

.content {
  display: grid;
  grid-gap: 20px;
}

.section {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
}

.section h2 {
  margin-bottom: 10px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.skill i {
	margin-right: 5px;
	font-size: 25px;
}

.skill span {
  margin-top: 3px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-icons a {
  color: #fff;
  font-size: 24px;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .container {
    margin: 20px;
  }
}


#cookieConsentBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#cookieConsentBanner p {
  margin: 0;
}

#cookieSettingsLink {
  color: #fff;
  text-decoration: underline;
}

#acceptCookiesButton {
  background-color: #fff;
  color: #333;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-family: 'Tektur', sans-serif;
}

#cookieSettingsPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f4f4f4;
  padding: 30px;
  border-radius: 5px;
  width: 400px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}

#cookieSettingsPopup h3 {
  margin-top: 0;
  font-size: 24px;
  color: #333;
}

#cookieSettingsPopup p {
  margin-bottom: 20px;
  font-size: 16px;
  color: #555;
}

#cookieSettingsPopup input[type="checkbox"] {
  display: none;
}

#cookieSettingsPopup label {
  display: block;
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  margin-bottom: 10px;
}

#cookieSettingsPopup .checkmark {
  position: absolute;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#cookieSettingsPopup .checkmark::after {
  content: "";
  position: absolute;
  display: none;
}

#cookieSettingsPopup input[type="checkbox"]:checked + .checkmark::after {
  display: block;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid #333;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

#cookieSettingsPopup label:hover .checkmark {
  border-color: #3498db;
}

#cookieSettingsPopup input[type="checkbox"]:checked + .checkmark {
  background-color: #3498db;
  border-color: #3498db;
}

#saveSettingsButton {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  font-size: 16px;
  font-family: 'Tektur', sans-serif;
  margin-top: 20px;
}

#saveSettingsButton:hover {
  background-color: #555;
}
