@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Kanit', sans-serif;
  position: relative;
}

.background-container {
  background-image: url("background.jpg");
  background-size: cover;
  background-position: center;
  height: 130vh;
}

.profile-container {
  position: relative;
  border-radius: 20px;
  padding: 20px;
  overflow: hidden;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255, 0.2), 0 0 60px rgba(255, 255, 255, 0.1);
  outline: 2px solid rgba(255, 255, 255, 0.3);
  max-width: 800px;
  margin: auto;
}

.container {
    margin: 45px;
}

.profile {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.profile img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 5px solid #e20074;
}

.content {
  display: grid;
  grid-gap: 20px;
}

.section {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  text-align: center;
  color: #fff;
}

.section h2 {
  margin-bottom: 10px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 10px;
}

.skill {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5px;
}

.skill i {
	margin-right: 5px;
	font-size: 25px;
}

.skill span {
  margin-top: 3px;
}

.contact-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.contact-icons a {
  color: #fff;
  font-size: 24px;
}

footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #fff;
}

/* Media Queries */
@media only screen and (max-width: 768px) {
  .container {
    margin: 20px;
  }
}
